
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.content{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
}

.content .service{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.content .service .card{
    width: 100%;
    display: flex;
    margin: 0 20px;
    padding:  0;
}




.content .service .card .imgService{
width: 100%;
height: 300px;

}

.content .service .card .btn-neon{
    width: 100%;
    display: flex;
    margin: 0 20px;
    padding:  0;
    
}



.textTittle{
    font-family: 'Young Serif', serif;
 color: white;
}
.textTittle2{
    font-family: 'Anton', sans-serif;
    color: white;
}

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
   font-family: 'Young Serif', serif;
   
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.Button{
    width: 90px;
    height: 90px ;
}


@media screen and (max-width:600px) {
    content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .content .textTittle2{
        font-size: 20px;
        margin:-80px 0 0 0 ;
    }

    .content .service{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .content .service .card{
        width: 100%;
        margin: 20px 0;
    }

    .content .service .card .btn-neon{
        margin: 0 20px;
    }



    .content .service .card .imgService{
        width: 500px;
    }




    /* .button-ig{
        margin-bottom: 10px;
    } */
}