.fondo{

width: 100%;
height: 100%;
}
.imgHome{
max-width: 100%;
height: auto;
display: flex;
justify-content: center;
}

.turnosIcon{
    display: flex;
}

.cards{
    display: flex;
    justify-content: center;
}

div{
    background-color: black;
}

.font{
    font-family: 'Young Serif', serif;
}

.cardTittle{
    font-family: 'Young Serif', serif;
    color: white;
}

.card-icon{
    display: flex;
    justify-content: center;
    width: 100%;
}
