.fondo{

width: 100%;
height: 100%;
} 


.turnosIcon{
    display: flex;
}

.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.cards .card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 30px 0 20px 0;
    padding: 10px;
}

.card .cards .img{
    width: 600px;
}


.cards .card .font{
    font-size: 25px;
}

.cards .card .font .icons{
    margin-left: 20px;
}

div{
    background-color: black;
}

.font{
    font-family: 'Young Serif', serif;
}

.cardTittle{
    font-family: 'Young Serif', serif;
    color: white;
}

.card-icon{
    display: flex;
    justify-content: center;
    width: 100%;
}


.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width:600px) {
    .content{
        width: 100%;
        height: auto;
    }

    .content .imgHome{
        width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .cards .card{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 30px 0 20px 0;
        padding: 10px;
    }

    .cards .card .card-body{
        width: 280px;
    }



    .cards .card .font{
        font-size: 25px;
    }

    .cards .card .font .icons{
        margin-left: 20px;
    }
}